.settings-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #24292e;
    color: white;
    height: 720px;

    .back-button {
        margin-left: 20px;
    }

    .settings {
        display: flex;
        gap: 48px;

        .setting-section {
            display: flex;
            flex-direction: column;
            width: 50vw;
            gap: 24px;
            padding: 20px;
            border-radius: 16px;
            overflow-wrap: normal;

            .players {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

                ::ng-deep .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
                    color: white;
                }

                .icon-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background: none;
                    border: none;

                    color: white;
                    font-size: medium;
                    gap: 4px;

                    cursor: pointer;

                    .icon {
                        height: 20px;
                        width: 20px;

                        border-radius: 50%;
                        transition: background-color 0.2s ease;
                        cursor: pointer;

                        :hover {
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                }

                .add-button {
                    flex: 0 0 auto;
                }
            }

            .select-item {
                width: 100%;
                font-size: 1.2rem;
                color: white;
            }

            ::ng-deep .mat-mdc-button-toggle-checked {
                color: black !important;
            }

            ::ng-deep .mat-mdc-button-toggle-checked .mat-button-toggle-label-content {
                color: black !important;
            }


            .input-container {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .start-button {
        border: #5f6368 1px solid;
        font-size: 4rem;
        height: 128px;
        margin-top: 128px;
        color: white;
        background-color: transparent;
        border: 1px #5e6269 solid;
    }
}