<div [ngClass]="player().isCurrentPlayer ? 'stat-display-container current-player' : 'stat-display-container disabled'">
    <div class="point-info">
        <div class="stat-header">
            <div class="dart-icons-name">
                <div class="dart-container">
                    @if (player().isCurrentPlayer) {
                        @if (!points()?.[0]) {
                            <img class="dart-logo" src="/assets/icons/dart-icon.svg" alt="Dart Icons" />
                        }

                        @if (!points()?.[1]) {
                            <img class="dart-logo" src="/assets/icons/dart-icon.svg" alt="Dart Icons" />
                        }

                        @if (!points()?.[2]) {
                            <img class="dart-logo" src="/assets/icons/dart-icon.svg" alt="Dart Icons" />
                        }
                    }
                </div>

                <span> {{ player().name }} </span>
            </div>

            <span class="current-points">
                {{ currentPoints }}
            </span>
        </div>

        <div class="stat-content">
            <app-point-display [isBust]="isBust()" [points]="points()?.[0]?.value"></app-point-display>

            <app-point-display [isBust]="isBust()" [points]="points()?.[1]?.value"></app-point-display>

            <app-point-display [isBust]="isBust()" [points]="points()?.[2]?.value"></app-point-display>

            <span class="current-points"> {{ thrownPoints }} </span>
        </div>
    </div>

    <div class="other-infos">
        <div class="set-leg-container">
            <!-- Set -->
            <div class="set-container">
                <span class="leg-set-count"> {{ player().legsWon }}</span>
            </div>

            <!-- Leg -->
            <div class="leg-container">
                <span class="leg-set-count"> {{ player().setsWon }}</span>
            </div>
        </div>

        <div class="avg-container">
            ⌀ {{ avgPointsFormatted }}
        </div>
    </div>  
</div>
