<div class="game-container">
    <div>
        <app-primary-button 
            text="Back" 
            (clicked)="navigateToSettings()">
        </app-primary-button>
    </div>
    <div class="game-content">
        <div class="game-infos">
            <app-game-infos></app-game-infos>

            <div class="players">
                @for (player of settings.players; let i = $index; track player) {
                    <app-player-stat-display
                        appScrollableItem
                        [index]="i"
                        [player]="player"
                        [points]="player.isCurrentPlayer ? currentThrows : player.lastTurnThrows"
                        [isBust]="!player.isCurrentPlayer && (player.lastTurnWasBust ?? false)">>
                    </app-player-stat-display>
                }
            </div>
        </div>

        <div class="dart-keyboard">
            <app-dart-keyboard 
                (valueSelected)="newThrow($event)" 
                (back)="redoThrow()">
            </app-dart-keyboard>

            <button 
                role="button" 
                class="golden-button"
                (click)="triggerBreakfast()">
                
                <span class="golden-text">Breakfast</span>
            </button>
        </div>
    </div>

    @if (isBreakfast) {
        <app-kraft-aus-dem-inneren></app-kraft-aus-dem-inneren>
    }
</div>