.game-info-container {
    display: flex;
    justify-content: space-around;
    width: 450px;
    height: 16px;
    background-color: #2e343a;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: bold;
}