.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #24292e;
  border-radius: 4px;
  padding: 16px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .header {
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    font-size: 1.5rem;

    color: white;
  }

  .footer {
    display: flex;
    gap: 12px;
    margin-left: auto;
    margin-top: auto;
  }
}
