.primary-button {
    padding: 12px 24px;
    font-weight: bold;
    font-size: large;
    color: white;
    background: transparent;

    border: #70737b 1px solid;
    border-radius: 26px;

    &.red {
        background-color: #E53935;
    }
}