@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

/* Needed to remove the default background of the snackbar */
.mat-mdc-snack-bar-container.transparent-snackbar .mdc-snackbar__surface,
.mat-mdc-snack-bar-container.transparent-snackbar mat-mdc-snackbar-surface,
.mat-mdc-snack-bar-container.transparent-snackbar .mat-mdc-snackbar-surface {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.no-material-dialog-styles .mat-mdc-dialog-container {
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

/* Styles remove the custom styles from the dialogs */
.no-material-dialog-styles .mat-mdc-dialog-surface {
  padding: 0 !important;
  box-shadow: none !important;
  background: none !important;
  border-radius: 0 !important;
  overflow: visible;
}