<div class="settings-container">
    <div>
        <app-primary-button class="back-button" text="Back" (clicked)="navigateToHomepage()">

        </app-primary-button>
    </div>
    <div class="settings">
        <!-- PLAYER -->
        <div class="setting-section">
            <h1>Player details</h1>

            <div class="players">
                @for (player of settings.players; track player) {
                    <app-closable-chip [text]="player.name" (closeChip)="removePlayer(player.id)">

                    </app-closable-chip>
                }

                <button
                    mat-mini-fab
                    color="primary"
                    class="add-button"
                    (click)="openNameInputDialog()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <!-- GAME SETTINGS -->
        <div class="setting-section">
            <h1>Game Settings</h1>

            <div class="input-container">
                <mat-form-field class="example-form-field">
                    <mat-label>Legs</mat-label>
                    <input
                        matInput
                        type="number"
                        step="1"
                        min="1"
                        [(ngModel)]="settings.legs">

                </mat-form-field>

                <mat-form-field class="example-form-field">
                    <mat-label>Sets</mat-label>
                    <input
                        matInput
                        type="number"
                        step="1"
                        min="1"
                        [(ngModel)]="settings.sets">
                </mat-form-field>
            </div>

            <mat-button-toggle-group
                [(ngModel)]="settings.startScore"
                exclusive>
                @for (score of startScores; track score)  {
                <mat-button-toggle class="select-item" [value]="score">
                    {{ score }}
                </mat-button-toggle>
                }
            </mat-button-toggle-group>

            <mat-button-toggle-group
                [(ngModel)]="settings.inMode"
                exclusive>
                @for (m of inModes; track m.value) {
                <mat-button-toggle class="select-item" [value]="m.value">
                    {{ m.label }}
                </mat-button-toggle>
                }
            </mat-button-toggle-group>

            <mat-button-toggle-group
                [(ngModel)]="settings.outMode"
                exclusive>
                @for (m of outModes; track m.value) {
                <mat-button-toggle class="select-item" [value]="m.value">
                    {{ m.label }}
                </mat-button-toggle>
                }
            </mat-button-toggle-group>
        </div>
    </div>

    @if (showStartButton) {
        <button
            mat-raised-button
            class="start-button"
            (click)="startGame()">
            Start Game
        </button>
    }
</div>
